extends ../templates/template.pug

block main
    section.port
        h1 Hola
    section.products
        h2 How can we help you?
        div.products__container
            div.spare_parts
                h3: a(href="/spare-parts") Spare Parts
            div.cars
                h3: a(href="/model-cars") Cars
    section.mechanical_services
        h2 Mechanical services
        div.mechanical_services__cards
            div.mechanical_services__cards_card
                div.items
                h3 Wheel Alignment
            div.mechanical_services__cards_card
                div.items
                h3 Cooling System
            div.mechanical_services__cards_card
                div.items
                h3 Brakes and Tires
            div.mechanical_services__cards_card
                div.items
                h3 Transmission
            div.mechanical_services__cards_card
                div.items
                h3 Electric System
            div.mechanical_services__cards_card
                div.items
                h3 Oil and Exhaust System
            div.mechanical_services__cards_card
                div.items
                h3 Aesthetic Maintenance
            div.mechanical_services__cards_card
                div.items
                h3 Filters and Batteries
            div.mechanical_services__cards_card
                div.items
                h3 Fuel and Injection System