extends ../templates/template.pug

block main
    section.card_model.card_model__img_NOVA
        div.card_model__container
            div.card_model__container__info
                h2 NOVA
                p Beyond Boundaries, Always Ascending.
            a.btn.btn_see_more(href="/model-cars/nova") See More
    section.card_model.card_model__img_STELLAR
        div.card_model__container
            div.card_model__container__info
                h2 STELLAR
                p Raising Your Expectations, Illuminating Your Journey.
            a.btn.btn_see_more(href="/model-cars/stellar") See More
    section.card_model.card_model__img_ANGEL
        div.card_model__container
            div.card_model__container__info
                h2 ANGEL
                p Where Grace Meets Speed.
            a.btn.btn_see_more(href="/model-cars/angel") See More