extends ../templates/template.pug

block main
    section.president_and_founder
        div.president_and_founder__img
        div.president_and_founder__text
            h1 President and Founder
            br
            p Born in the picturesque city of Valencia in 1975, Juan Martinez is a visionary entrepreneur and speed enthusiast who has left an indelible mark on the automotive industry. From a young age, his passion for sports cars drove him to study mechanical engineering and automotive design at the top universities in Europe.
            br
            p After years of working in renowned automotive companies, Juan decided to unleash his creativity and founded the sports car company Prisma in 2010. His unique vision of merging elegance and performance culminated in the creation of models that not only deliver exceptional track performance but also stand as aesthetic masterpieces.
            br
            p With a philosophy centered on innovation and sustainability, Prisma has become a benchmark in the automotive industry. Juan Martinez, recognized for his dedication and leadership, has propelled the company to the pinnacle of the sports car world, establishing a legacy that will continue to inspire future generations of car enthusiasts.
    section.What_do_we_stand
        h2 What do we stand out for?
        div.What_do_we_stand__container
            div.What_do_we_stand__container__info
                h3 Innovative Design
                p Prisma Cars stands out for its revolutionary innovation in sports car design. Each vehicle is a meticulously crafted masterpiece, blending elegant lines with cutting-edge aerodynamic elements. Our models are not just high-performance vehicles; they are rolling works of art, redefining standards in the automotive industry.
            div.What_do_we_stand__container__img
        div.What_do_we_stand__container
            div.What_do_we_stand__container__img
            div.What_do_we_stand__container__info
                h3 Unparalleled Performance
                p Prisma's essence lies in the unmatched performance of its sportscars. Equipped with state-of-the-art technology and next-gen engines, our vehicles offer a unique driving experience. Whether on the track or the open road, the power and agility of a Prisma shine, providing drivers with the thrill of speed without compromising safety.
        div.What_do_we_stand__container
            div.What_do_we_stand__container__info
                h3 Commitment to Sustahinability
                p Prisma Cars takes pride in its commitment to sustainability. Every production phase is approached with an ecological focus, from material selection to manufacturing practices. We aim not only to create outstanding cars but also to lead the way toward a more sustainable automotive future, proving that performance and environmental responsibility can coexist.
            div.What_do_we_stand__container__img
        div.What_do_we_stand__container
            div.What_do_we_stand__container__img
            div.What_do_we_stand__container__info
                h3 Personalized Experience
                p At Prisma, we understand that the connection between the driver and their car is paramount. We offer a personalized driving experience, allowing customers to choose from a wide range of customization options, from exterior colors to interior details. Each Prisma is unique, reflecting the exclusive taste and style of its owner.
        div.What_do_we_stand__container
            div.What_do_we_stand__container__info
                h3 Passionate Community
                p Beyond being a car brand, Prisma is a passionate community of automotive enthusiasts. We organize exclusive events, driving experiences, and share unique content with our community. The Prisma family goes beyond the purchase of a car; it's a shared lifestyle, a continuous celebration of the passion for speed and elegance.
            div.What_do_we_stand__container__img