extends ../templates/template.pug

block main
    section.section_spare_parts
        h1 Spare Parts
        div.section_spare_parts__spare_parts__search
            div.section_spare_parts__search_filter
                p NOVA
                P STELLAR
                P ANGEL
            div.section_spare_parts__search_btn
                input(type="text")
                button: span(class="material-icons-round") search
        div.section_spare_parts__parts
            div.section_spare_parts__parts__part
                div.section_spare_parts__parts__part__info
                    h3 Title Part
                    br
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, exercitationem ut accusantium sed ipsam, natus, qui non deleniti nostrum repudiandae consequuntur quos in. Necessitatibus, unde amet. Eligendi neque consequatur et.
                button.btn.btn_buy Buy